<!-- src/app/menu/menu.component.html -->
<div class="dashboard">
    <div class="sidebar">
        <ul>
            <li routerLink="">ADMIN</li>
            <li routerLink="/menu" id="this">MENU</li>
            <li routerLink="/orders">ORDERS</li>
            <li routerLink="/customers">CUSTOMERS</li>
            <li id="logout" routerLink="''">LOG OUT</li>
        </ul>
    </div>
    <div class="container">
        <div class="bar">MENU</div>
        <div class="content">
            <div class="mycontent">
                <table class="menu-table">
                    <thead>
                        <tr>
                            <th>IMAGE</th>
                            <th>NAME</th>
                            <th>INGREDIENTS</th>
                            <th>ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of menuItems">
                            <td><img [src]="item.image" [alt]="item.name" width="80"></td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.ingredients }}</td>
                            <td>
                                <button class="update-btn">Update</button>
                                <button class="delete-btn">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button class="add-item-btn">Add Item</button>
        </div>
    </div> 
</div>
<div class="footer">
    <ul>
        <li>twitter</li>
        <li>facebook</li>
        <li>instagram</li>
    </ul>
</div>
