<div class="dashboard">
    <div class="sidebar">
      <ul>
        <li routerLink="/admin" id="this">ADMIN</li>
        <br><hr>
        <li routerLink="/menu-admin">MENU</li>
        <br><hr>
        <li routerLink="/orders">ORDERS</li>
        <br><hr>
        <li routerLink="/customers">CUSTOMERS</li>
        <br><hr><br><br>
        <li id="logout" routerLink="''">LOG OUT</li>
      </ul>
    </div>
    <div class="container">
      <div class="bar">CUSTOMERS</div>
      <div class="content">
        <div class="mycontent">
          <table class="customer-table">
            <thead>
              <tr>
                <th>CUSTOMER ID</th>
                <th>NAME</th>
                <th>EMAIL</th>
                <th>ACTIONS</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let customer of customers">
                <td>{{ shortenId(customer.userId) }}</td>
                <td>{{ customer.firstname }}</td>
                <td>{{ customer.email }}</td>
                <td>
                  <button class="delete-btn" (click)="deleteCustomer(customer.userId)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  