<!-- src/app/customers/customers.component.html -->
<div class="dashboard">
    <div class="sidebar">
        <ul>
            <li routerLink="admin">ADMIN</li>
            <li routerLink="/menu-admin">MENU</li>
            <li routerLink="/orders">ORDERS</li>
            <li routerLink="/customers" id="this">CUSTOMERS</li>
            <li id="logout">LOG OUT</li>
        </ul>
    </div>
    <div class="container">
        <div class="bar">CUSTOMERS</div>
        <div class="content">
            <div class="mycontent">
                <table class="customer-table">
                    <thead>
                        <tr>
                            <th>CUSTOMER ID</th>
                            <th>NAME</th>
                            <th>EMAIL</th>
                            <th>ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let customer of customers">
                            <td>{{ shortenId( customer.userId) }}</td>
                            <td>{{ customer.firstname }}</td>
                            <td>{{ customer.email }}</td>
                            <td>
                                <button class="delete-btn">Delete</button>
                                <button class="update-btn">Update</button>
                            </td>
                        </tr>
                        <tr >
                            <td>756745</td>
                            <td>ivan olumosi</td>
                            <td>ivanolumosigmail</td>
                            <td>
                                <button class="delete-btn">Delete</button>
                                <button class="update-btn">Update</button>
                            </td>
                        </tr>
                        <tr >
                            <td>756745</td>
                            <td>ivan olumosi</td>
                            <td>ivanolumosigmail</td>
                            <td>
                                <button class="delete-btn">Delete</button>
                                <button class="update-btn">Update</button>
                            </td>
                        </tr>
                        <tr >
                            <td>756745</td>
                            <td>ivan olumosi</td>
                            <td>ivanolumosigmail</td>
                            <td>
                                <button class="delete-btn">Delete</button>
                                <button class="update-btn">Update</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> 
</div>
<div class="footer">
    <ul>
        <li>twitter</li>
        <li>facebook</li>
        <li>instagram</li>
    </ul>
</div>
