<div class="menu">
  <div class="search-bar">
    <input type="text" placeholder="Search..." />
  </div>
  <h1 class="title">Menu</h1>
  <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
  <div class="products-list">
    <div *ngFor="let product of menuProducts" class="card">
      <div class="card-image-container">
        <img [src]="product.image" alt="{{ product.name }}" class="card-image" />
        <button (click)="addToCart(product)" class="add-to-cart-btn">Add to Cart</button>
      </div>
      <div class="card-content">
        <h2 class="card-title">{{ product.name }}</h2>
        <p class="card-description">{{ product.short_description }}</p>
        <p class="card-price">${{ product.price }}</p>
        <p class="card-stock">Stock: {{ product.stock }} cups</p>
      </div>
    </div>
  </div>
</div>
