<body>
    <div class="container" id="container">
        <div class="form-container sign-up-container" id="sign-up-container">
            <form id="signUpForm" action="http://localhost:3000/api/auth/register" method="POST">
                <h1 style="padding-top: 15px; color: #754e14;">Create Account</h1>
                <input type="text" name="username" placeholder="Username" id="username" required>
                <input type="email" name="email" placeholder="Email" id="email" required>
                <input type="password" name="password" placeholder="Password" id="password" required>
                <input type="text" name="role" placeholder="Role" id="role" required>
                <button type="submit" style="margin-top:10px">Create Account</button>
                <h5>Already have an account? <a class="ghost" id="signIn" style="color:#754e14;"><u>Sign In</u></a></h5>
            </form>
        </div>
        <div class="form-container sign-in-container" id="sign-in-container">
            <form id="signInForm" action="http://localhost:3000/api/auth/login" method="POST">
                <h1 style="padding-bottom: 15px">Login Now</h1>
                <input type="email" name="email" placeholder="Email" id="loginEmail" required>
                <input type="password" name="password" placeholder="Password" id="loginPassword" required>
                <a href="#" style="padding-left:150px; font-weight: bold">Forgot Your Password?</a>
                <button type="submit" style="margin-top: 10px">SIGN IN</button>
                <h5>New here? <a class="ghost" id="signUp" style="color:#754e14;"><u>Sign Up</u></a></h5>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <img src="images/black-coffee-glass-cup-beans-jumping.avif" alt="img" height="100%" width="400" />
                </div>
                <div class="overlay-panel overlay-right">
                    <img src="images/istockphoto-157528129-612x612.jpg" alt="IMAGE" height="100%" width="400" />
                </div>
            </div>
        </div>
    </div>
    <script src="forms.js"></script>
</body>