<div class="track-order">
  <h1 class="title">Track Orders</h1>
  <table class="orders-table">
    <thead>
      <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Total Price</th>
        <th>Status</th>
        <th>Date</th>
        <th>Actions</th> <!-- Additional field for order date -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{ order.name }}</td>
        <td>{{ order.quantity }}</td>
        <td>${{ order.totalPrice }}</td>
        <td [class.pending]="order.status === 'Pending'" [class.confirmed]="order.status === 'Confirmed'">
          {{ order.status }}
        </td>
        <td>{{ order.date }}</td> 
        <td>
          <button (click)="cancelOrder(order.orderId)">Cancel Order</button>
        </td><!-- Additional field for order date -->
      </tr>
    </tbody>
  </table>
</div>
