<div class="dashboard">
    <div class="sidebar">
        <ul>
            <li routerLink="/admin">ADMIN</li>
            <li routerLink="/menu-admin" id="this">MENU</li>
            <li routerLink="/orders">ORDERS</li>
            <li routerLink="/customers">CUSTOMERS</li>
            <li id="logout" routerLink="''">LOG OUT</li>
        </ul>
    </div>
    <div class="container">
        <div class="bar">MENU</div>
        <div class="content">
            <div class="mycontent">
                <form class="add-item-form">
                    <h3>Add New Item</h3>
                    <label for="image">Image:</label>
                    <input type="file" id="image" [(ngModel)]="newItem.image" name="image" accept="image/*">
                    <label for="name">Name:</label>
                    <input type="text" id="name" [(ngModel)]="newItem.name" name="name">
                    <label for="ingredients">Ingredients:</label>
                    <textarea id="ingredients" [(ngModel)]="newItem.ingredients" name="ingredients"></textarea>
                    <button type="button" class="add-btn" (click)="addItem()">Add</button>
                    <button type="button" class="cancel-btn" (click)="clearForm()">Cancel</button>
                </form>
                <table class="menu-table">
                    <thead>
                        <tr>
                            <th>IMAGE</th>
                            <th>NAME</th>
                            <th>INGREDIENTS</th>
                            <th>ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of menuItems">
                            <td><img [src]="item.image" [alt]="item.name" width="80"></td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.ingredients }}</td>/9*-                            <td>
                                <button class="update-btn">Update</button>
                                <button class="delete-btn">Delete</button>
                            </td>
                        </tr>
                        <tr >
                            <td>img</td>
                            <td>cappuccino</td>
                            <td>foam,cream,choco</td>
                                 <td>
                                <button class="update-btn">Update</button>
                                <button class="delete-btn">Delete</button>
                            </td>
                        </tr>
                        <tr >
                            <td>img</td>
                            <td>capucino</td>
                            <td>foam,cream,choco</td>
                                 <td>
                                <button class="update-btn">Update</button>
                                <button class="delete-btn">Delete</button>
                            </td>
                        </tr>
                        <tr >
                            <td>img</td>
                            <td>cappuccino</td>
                            <td>foam,cream,choco</td>
                                 <td>
                                <button class="update-btn">Update</button>
                                <button class="delete-btn">Delete</button>
                            </td>
                        </tr>
                        <tr >
                            <td>img</td>
                            <td>cappuccino</td>
                            <td>foam,cream,choco</td>
                                 <td>
                                <button class="update-btn">Update</button>
                                <button class="delete-btn">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> 
</div>
<div class="footer">
    <ul>
        <li>twitter</li>
        <li>facebook</li>
        <li>instagram</li>
    </ul>
</div>
