<div class="dashboard">
  <div class="sidebar">
    <div class="profile">
      <img src="profileImg.jpg" alt="User Profile" class="profile-pic">
      <p class="welcome-message">Welcome, User!</p>
    </div>
    <nav class="nav-links">
      <a routerLink="menu" routerLinkActive="active-link">Menu</a>
      <a routerLink="cart" routerLinkActive="active-link">Shopping Cart</a>
      <a routerLink="track-order" routerLinkActive="active-link">Track Order</a>
      <button class="logout-button">Logout</button>
    </nav>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
